<!DOCTYPE html>
<html>
<head>
    <title>Blog - All Articles</title>
</head>
<body>
    <h1>All Articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p><strong>Author:</strong> {{ article.author }}</p>
                <p><em>Published on:</em> {{ article.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_article' %}">Add New Article</a>
</body>
</html>
